
body
{
	background-image: url("../../ressources/pictures/fond_bois_v2.jpg");
}

form
{
	background-image: url("../../ressources/pictures/login_background.png");
	background-repeat: no-repeat;
	text-align: center;

	margin: 10%;
	margin-left: 20%;
	padding-left: 5%;
	padding-top: 5%;
	padding-right: 15%;
}

form input
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
