#pageHeader
{
    text-align: center;
}

.description
{
    font-style:italic;
}













.onglets{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 24px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}

.onglets li{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}

.onglets li.active{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

.onglets a{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}

.onglets a:hover{
    background : #fff;
}

#Global #gauche {
    float:left;
    width:60%;
}
#Global #droite {
    margin-left:60%   
}

ul {
    background-color: black;
    float: left;
    color : white;
    border-top: 0px;
    text-align: top;
    vertical-align: top;
}

.p {
    color : white;
}